#left {
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--main-bg-color);
    width: 15%;
    height: 100%;
}

.logo {
    margin: auto;
    display: block;
    padding: 1em;
    width: 60%;
}

.category {
    margin-top: 1.5em; 
}

.titles {
    display: none;
    margin-left: 2.2em;
}

.categories h3 {
    position: relative;
    background: linear-gradient(90deg, rgba(155, 155, 155, 0.12) 0%, rgba(196, 196, 196, 0) 75.23%);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.categories h3::after {
    content: "";
    background: var(--orange);
    position: absolute;
    width: 3px;
    height: 100%;
    left:-15px;
    top: 0;
    right: 0;
}

.categ-title-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 1em;
}

.categ-title-arrow img {
    width: 7px;
    height: 15px;
    margin-right: 1em;
}

.random-section {
    text-align: center;
    margin-top: 1em;
}

.random-btn{
    border: 2px solid white;
    border-radius: 27px;
    width: 12em;
    height: 4em;
    background: linear-gradient(90deg, rgba(244,118,80,1) 0%, rgba(242,164,71,1) 100%);
    margin-top: 2em;
    cursor: pointer !important;
}

.random-btn .random-icon{
    font-size: 2em;
}:root {
    --main-bg-color: #1B1B1B;
    --main-font: 'Gotham';
    --secondary-font: 'Roboto';
    --orange: #E67C4F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
    font-family: var(--main-font);
}
ul {
    list-style: none;
}

li {
    line-height: 1.5;
}

a {
  text-decoration: none;
}#middle {
    position: relative;
    width: 70%;
    height: 100%;
    padding: 0;
    /* padding-top: 2em; */
    margin: auto;
    background: linear-gradient(180deg, #424242 0%, #111111 50%);
}

header nav {
    display: grid;
    grid-template-columns: 10fr 10fr 1fr;
    align-items: center;
   height: 6em;
   width: 95%;
   margin: auto;
   position: relative;
}

.dropbtn {
    align-self: center;
    cursor: pointer;
}

.profile-header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 20%;
    justify-self: flex-end;
}

#dropdown-header {
    justify-self: flex-end;
    grid-column: 2;
    grid-row: 2;
    flex-direction: column;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1B1B1B;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 3em;
  margin-top: 3em;
  
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding: 1rem;
}


.dropdown-content a:hover {
    background-color: rgb(49, 49, 49);
}

.show {
    display: block;
}

.avatar{
    width: 40px;
    height: 40px;
    margin-bottom: 5%;
}

.profile-name {
    align-items: center;
    margin-top: 0.5em;
}

.arrow-profile{
    width: 14px;
    height: 8px;
    align-self: center;
    margin-right: 0.2em;
    margin-bottom: .4em;
}

.see-more-btn {
    color: white;
    border-radius: 27px;
    width: 12em;
    height: 2em;
    border: 2px solid white;
    background-color: black;
    align-items: center;
    margin: auto;
    display: block;
}

.search {
    border: 2px solid white;
    border-radius: 27px;
    width: 30em;
    height: 3em;
    background: black;
}

.header-video {
    position: relative;
}

.header-video .video-text {
    position: absolute;
    bottom: 3em;
    left: 2em;
    z-index: 1;
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.video-text h2 {
    font-size: 3em;
    padding-bottom: .3em;
}

.video-text button {
    color: black;
    border: none;
    border-radius: 2em;
    padding: 1em;
    padding-left: 2.5em;
    width: 55%;
    font-size: 1em;
    background: #fff url(../images/play.png);
    background-size: 20px;
    background-position: 20px 15px;
    background-repeat: no-repeat;
}


.header-video:hover .video-text {
    opacity: 1;
}


.header-video:hover video {
    filter: blur(3px) brightness(70%);
}

.header-video video {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: .3s;
}

/* The MOVIE Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.movie-content {
    margin-top: 16%;
}

/* Modal Content */
.modal-content {
    background-image: url("/movix/images/poster.png");
    background-size: cover;
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 25px;
    width: 60%;
    height: 80%;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 20%;
    border: none;
    background-color: white !important;
    padding: 0.01em 0.3em 0.01em 0.3em;
}

.close:hover,
.close:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

.icons-movie {
    display: flex;
    font-size: 1.5em
}

.icon-margin {
    margin-left: 10px;
}

/* .play-icon{
    background-image: url("/movix/images/playIconModal.png");
} */

.modal-content .play-icon {
    font-size: 5em !important;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 5%;
    cursor: pointer;
    transition: transform .1s;
}

.play-icon:hover,
.play-icon:focus {
   color: orange;
   transform: scale(1.5);
    text-decoration: none;
    cursor: pointer;
}
.modal-title {
    font-size: 35px;
    margin-left: 39%;
    margin-top: 1em;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    width: 25%;
    height: 15%;
}

.movie-info-left {
    /* display: flex; */
    margin-left: 0;
}

.movie-info-right{
margin-left: 60%;
margin-top: -15%;
}

.details{
    display: flex;
    margin-bottom: 10%;
}

.modal-text {
    font-size: 15px;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-right: 50%;
    font-weight: bold;
    font-family: var(--secondary-font) !important;
}

.border-info-left {
    border: 2px solid white !important;
    display: inline;
}

.border-info-right {
    border: 1px solid white !important;
    width: 6.5em;
    height: 1.5em;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-top: 1%;
}
.movie-details-right{
    font-size: 14px;
    margin-left: 5%;
}

.myBtn {
    cursor: pointer;
}

.icon-share{
    color: white;
    min-width: 50px;
    transition: transform .1s;
}

.icon-share:hover,
.icon-share:focus {
   color: orange;
   transform: scale(1.2);
    text-decoration: none;
    cursor: pointer;
}




/* MODAL MOVIE --2-- */
.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.myBtn2{
    cursor: pointer;
}

.movie-content2 {
    margin-top: 16%;
}

/* Modal Content */
.modal-content2 {
    background-image: url("/movix/images/poster2.png");
    background-size: cover;
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 25px;
    width: 60%;
    height: 80%;
}

.modal-content2 .play-icon2 {
    font-size: 5em !important;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 5%;
    cursor: pointer;
    transition: transform .1s;
}

.play-icon2:hover,
.play-icon2:focus {
   color: orange;
   transform: scale(1.5);
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.close2 {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 20%;
    border: none;
    background-color: white !important;
    padding: 0.01em 0.3em 0.01em 0.3em;
}

.close2:hover,
.close2:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}




/* MODAL FRIENDS */

/* The Modal (background) */
.modal-friends {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content-friends {
    background-image: url("/movix/images/friends.png");
    background-size: cover;
    color: white;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    width: 40%;
    height: auto;
}

/* Modal Content */
.friends-content {
    margin-top: 8%;
}

/* The Close Button */
.close-friends {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border-radius: 20%;
    border: none;
    background-color: white !important;
    padding: 0.01em 0.3em 0.01em 0.3em;
}

.close-friends:hover,
.close-friends:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

.invite-friend {
    border: 2px solid white;
    border-radius: 27px;
    width: 12em;
    height: 3em;
    margin-top: 2em;
    margin-left: 5em;
    background: none;
}

.invite-friend:hover,
.invite-friend:focus {
    background: linear-gradient(90deg, rgba(244, 118, 80, 1) 0%, rgba(242, 164, 71, 1) 100%);
    text-decoration: none;
    cursor: pointer;
}


.friends-title-modal {
    font-size: 25px;
    margin-left: 39%;
    margin-top: 1em;
}

.friend-modal {
    margin-top: 0.5em;
    margin-left: 5em;
    margin-bottom: 0.1em;
    display: flex;
}

.one-friend-modal {
    /* align-items: center;
    display: flex; */
    margin-top: 5%;
    margin-left: 2%;
}

.friend-name-modal {
    margin-left: 0.2em;
}

.watching-friend-modal {
    color: gray;
    font-size: 15px;
    margin-top: 0.5em;
}
.avatar-modal{
    height: 60%;
    margin-top: 5%;
}

.start-btn {
    border: 2px solid white;
    border-radius: 27px;
    width: 12em;
    height: 3em;
    margin-top: 2em;
    margin-left: 2em;
    background: none;
    margin-left: 33%;

}

.start-btn:hover,
.start-btn:focus {
    background: linear-gradient(90deg, rgba(244, 118, 80, 1) 0%, rgba(242, 164, 71, 1) 100%);
    text-decoration: none;
    cursor: pointer;
}

.search-friends {
    border-bottom: 2px solid white !important;
    width: 30em;
    height: 3em;
    cursor: pointer;
    border-style: hidden;
    background: none;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    margin-bottom: 10px;
    margin-left: 26%;
    margin-top: 5%;
}

.icon {
    padding: 10px;
    color: white;
    min-width: 50px;

}

.input-field {
    width: 60%;
    padding: 10px;
    text-align: center;
}


/* ANIMATIOM RANDOM */
.random-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounceInRight; /* rotateOut flipInX referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
  }

  /* ANIMATIOM BTN RANDOM */
.animation-btn:hover {
    display: inline-block;
    margin: 0 0.5rem;
    animation: rotateOut; /* rotateOut flipInX referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
  }#film video {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 80%; 
    min-height: 100%;
}

#moviePage nav {
    width: 82%;
    height: 4em;
    background:var(--main-bg-color); 
    position: absolute;
    z-index: 2;
}

.logo-chat .logo {
    width: 5%;
    float:left;
}

#pause, #play {
    position: absolute;
    /* font-size: 18px; */
    border: none;
    background: none;
    cursor: pointer;
    top:48%;
    left:40%;
}

#pause:active {
    border: none;
    outline: none;

}
#pause:focus {outline:0;}
#play:focus {outline:0;}

#pause img,#play img {
    display: block;
    width: 100px;
    margin: 0;
    fill: #fff;
}

#play {
    display: none;
    width: 100px;
}


/* CHAT */

#chat {
    position: absolute;
    right: 0;
    height: 100vh;
    background:var(--main-bg-color);
    width: 18%;
}


.chat-container {
    display: grid;
    grid-template-rows: 1fr 7fr 2fr;
    height: 100%;
}

.chat-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.closeBtn-container{
    justify-self: end;
}

.chat-top button {
    color: black;
    width: 2em;
    height: 2em;
}

.friend1 {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.friend1 p {
    width: 60%;
    background: white;
    color: black;
    border-radius: 10px;
    padding: .7em;
}

 .input-chat {
     display: block;
     align-self: end;
     justify-self: center;
     width: 90%;
    margin-bottom: 1em;
 }

 .input-chat input{
    width: 100%;
    height: 4em;
    border-radius: 10px;
    color: black;
 }
 .input-chat input:focus{
     outline: none;
 }

 .input-chat input::placeholder{
     color: #ccc;
 }

.chat-icon {
    position: absolute;
    /* z-index: 1; */
    bottom:5em;
    right: 0;
    /* display: none; */
}/* PROFILE PAGE */

#profile {
    display: none;
    height: 100%;

}

.header-profile {
    display: flex;
    margin-left: 3em;
    margin-top: 3em;
    flex-direction: column;
    align-items: center;
}

.profile-menu {
   display: flex;
   width: 100%;
}

.profile-menu img {
    width: 15%;
    /* height: 50%; */
}

.profile-info {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    margin-bottom: 5em;
}

.profile-info h1 {
margin: 0;
font-size: 3em;
padding-bottom:.5em;
}

.profile-info p {
    font-size: 1.2em;
}

/* PROFILE NAV */

#history,
#settings {
    display: none;
}

.profile-nav {
width: 100%;
margin-top: 3em;
margin-bottom: 3em;
}

.profile-nav ul {
width: 100% !important;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: center;
column-gap: 10em;
padding-left: 10%;
}

.profile-nav ul li {
    font-size: 18px;
    position: relative;

}

.profile-nav ul .line::before {
    content: "";
    background: white;
    position: absolute;
    width: 3px;
    height: 100%;
    left:-60%;
    top: 0;
    right: 0;
}


.tab.active:after{
    content: "";
    background: white;
    position: absolute;
    width: 40px;
    height: 2px;
    left:7%;
    top: 2em;
}


/* MAIN */

.container-profile {
    border-top: 2px solid #838383;
}

.history-container {
    display: grid;
   grid-template-columns: 1fr 13fr;
}

.history-info {
    padding-top: 1.6em;
}

.history-info h3 {
    font-size: 1.5em;
    font-family: var(--main-font);
    padding-bottom: .5em;
}

.history-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    width: 15%;
    align-items: center;
    padding-top: 1.5em;
}

.history-buttons button {
    background: transparent;
    border: 1px solid white;
    padding: .5em;
    font-size: 1.1em;
    border-radius: 10px;
}#register-bg {
    background-image: url("/movix/images/bg-movix-2.png");
    -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: 100% 100%;
     position: fixed;
     top: 0;
     left: 0;
     padding: 0;
     margin: 0;
     width: 100%;
     height: 100%;
 }
 
 #login-form{
     background-color: black;
     width: 33%;
     height: 80%;
     align-items: center;
     justify-content: center;
     align-content: center;
     margin: 6% 0 0 33%;
     border-radius: 30px;
     filter: drop-shadow(0 0 1rem black);
 }
 
 .content{
    margin-left: 25%;
    align-items: center;
     justify-content: center;
     align-content: center;
     padding-top: 11%;
 }
 
 #logo{
     width: 45%;
     margin-left: 11%;
 }
 
 
 input.info{
 width: 260px;
 height: 44px;
 border-radius: 22px;
 background: rgba(79, 79, 79, 0.55);
 border: 2px solid  #F2A447;
 margin-top: 8px;
 }
 
 h1 {
   margin: 20px 0px 15px 80px;  
 }
  
 ::placeholder{
 color: white;
 padding-left:10px;
 }
 
 .rmb-me{
     margin: 10px 0 0 7px;
 }
 
 button.login{
 margin-left: 20%;
 width: 30%;
 height: 40px;
 border: 2px solid #FFFFFF;
 box-sizing: border-box;
 border-radius: 22px;
 background: linear-gradient(270deg, #F2A447 0%, #E47650 100%);
 font-size: 1em;
 }
 
 button.signup{
     margin: 2% 0 3% 14%;
     width: 43%;
     height: 40px;
     border: 2px solid #FFFFFF;
     box-sizing: border-box;
     border-radius: 24px;
     background: black;
     font-size: 1em;
     cursor: pointer;
     }
 
 .or{ 
 font-style: normal;
 font-size: 1em;
 line-height: 19px;
 text-align: center;
 color: #FFFFFF;
 margin: 5% 0 0 32%;
 }
 
 button.facebook{
     margin: 2% 0 3% 8%;
     width: 57%;
     height: 40px;
     border: 2px solid #FFFFFF;
     box-sizing: border-box;
     border-radius: 24px;
     background: #4267B2;
     font-size: 1em;
     }
 
 .forgot-password{
     margin: 16%;
     text-decoration: none;
 }


/* The Modal (background) */
.modal-register {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* .register-form {
     margin-top: -10%; 
    margin-left: 20%;
} */

/* Modal Content */
.modal-content-register {
    background-image: url("/movix/images/registerModal.png");
    background-size: cover;
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 25px;
    width: 50%;
    height: 95%;
}

/* The Close Button */
.closeRegister {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: white !important;
    padding: 0.01em 0.2em 0.01em 0.2em;
}

.closeRegister:hover,
.closeRegister:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

input.modal-info {
    width: 260px;
    height: 44px;
    border-radius: 22px;
    background: rgba(79, 79, 79, 0.55);
    border: 2px solid #F2A447;
    margin-top: 8px;
    margin-left: 10%;
}

.signup-title {
    font-size: 2em;
    margin-top: 10%;
    margin-left: 40%;
}

.modal-rmb-me {
    margin: 10px 0 0 10%;
}

.content-register {
    margin-top: 5%;
    margin-left: 20%;
}#right {
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    background: var(--main-bg-color);
    margin: auto;
}

.friends-container {
    display: grid;
    margin-top: 2em;
}

.grid-friends {
    display: grid;
   row-gap: 2em;
   margin-top: 2em;
   margin-left: 1.5em;
}

.friends-title {
    justify-self: center;
}

.friend {
   display:flex;
}


.one-friend {
    display: grid;
    align-self: center;
    row-gap: .4em;
    margin-left: .4em;
}

.watching {
    color: gray;
    font-size: 15px;
}

.friends-btn {
    border: 2px solid white;
    border-radius: 27px;
    width: 12em;
    height: 3em;
    background: linear-gradient(90deg, rgba(244, 118, 80, 1) 0%, rgba(242, 164, 71, 1) 100%);
    margin-top: 2em;
    justify-self: center;
}.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform
}

.swiper-slide-invisible-blank {
    visibility: hidden
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-transition-property: height, -webkit-transform;
    transition-property: height, -webkit-transform;
    -o-transition-property: transform, height;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal>.swiper-wrapper {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical>.swiper-wrapper {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    left: 10px;
    right: auto
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
    right: 10px;
    left: auto
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-lock {
    display: none
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: .3s opacity;
    -o-transition: .3s opacity;
    transition: .3s opacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transform: scale(.33);
    -ms-transform: scale(.33);
    transform: scale(.33);
    position: relative
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    -webkit-transform: scale(.66);
    -ms-transform: scale(.66);
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    -webkit-transform: scale(.33);
    -ms-transform: scale(.33);
    transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    -webkit-transform: scale(.66);
    -ms-transform: scale(.66);
    transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(.33);
    -ms-transform: scale(.33);
    transform: scale(.33)
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: orange
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 6px 0;
    display: block
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px
}

.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    -webkit-transition: .2s top, .2s -webkit-transform;
    transition: .2s top, .2s -webkit-transform;
    -o-transition: .2s transform, .2s top;
    transition: .2s transform, .2s top;
    transition: .2s transform, .2s top, .2s -webkit-transform
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap
}

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: .2s left, .2s -webkit-transform;
    transition: .2s left, .2s -webkit-transform;
    -o-transition: .2s transform, .2s left;
    transition: .2s transform, .2s left;
    transition: .2s transform, .2s left, .2s -webkit-transform
}

.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    -webkit-transition: .2s right, .2s -webkit-transform;
    transition: .2s right, .2s -webkit-transform;
    -o-transition: .2s transform, .2s right;
    transition: .2s transform, .2s right;
    transition: .2s transform, .2s right, .2s -webkit-transform
}

.swiper-pagination-progressbar {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progressbar,
.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical>.swiper-pagination-progressbar {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-progressbar.swiper-pagination-white {
    background: rgba(255, 255, 255, .25)
}

.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-pagination-progressbar.swiper-pagination-black {
    background: rgba(0, 0, 0, .25)
}

.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill {
    background: #000
}

.swiper-pagination-lock {
    display: none
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-scrollbar-lock {
    display: none
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
    object-fit: contain
}

.swiper-slide-zoomed {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
    animation: swiper-preloader-spin 1s steps(12, end) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}

@-webkit-keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes swiper-preloader-spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube {
    overflow: visible
}

.swiper-container-cube .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1;
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-flip {
    overflow: visible
}

.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-coverflow .swiper-wrapper {
    -ms-perspective: 1200px
}