#left {
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--main-bg-color);

    width: 15%;
    height: 100%;
    
    
    
}

.random-btn{
    border: 2px solid white;
    border-radius: 27px;
    width: 12em;
    height: 4em;
    background: linear-gradient(90deg, rgba(244,118,80,1) 0%, rgba(242,164,71,1) 100%);

}

.categories h3::after {
    content: "";
    background: var(--orange);
    position: absolute;
    width: 50px;
    left:0;
    top: 0;
    right: 0;
}:root {
    --main-bg-color: #1B1B1B;
    --main-font: 'Gotham';
    --secondary-font: 'Roboto';
    --orange: #E67C4F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
    font-family: var(--main-font);
}#middle {
    position: relative;
    width: 70%;
    height: 100vh;
    padding: 0px 0.5rem;
    margin: auto;
    background: linear-gradient(180deg, #424242 0%, #111111 100%);
}#right {
    position: fixed;
    top: 0px;
    right: 0px;  
    width: 15%;
    height: 100%;  
    background: var(--main-bg-color);
}