#left {
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--main-bg-color);

    width: 15%;
    height: 100%;
    
    
    
}

.random-btn{
    border: 2px solid white;
    border-radius: 27px;
    width: 12em;
    height: 4em;
    background: linear-gradient(90deg, rgba(244,118,80,1) 0%, rgba(242,164,71,1) 100%);

}

.categories h3::after {
    content: "";
    background: var(--orange);
    position: absolute;
    width: 50px;
    left:0;
    top: 0;
    right: 0;
}