:root {
    --main-bg-color: #1B1B1B;
    --main-font: 'Gotham';
    --secondary-font: 'Roboto';
    --orange: #E67C4F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:white;
    font-family: var(--main-font);
}


ul {
    list-style: none;
}

li {
    line-height: 1.5;
}

a {
  text-decoration: none;
}
  
/* MOBILE */

@media(max-width: 400px) { 
    #right {
        display: none;
    }



}