
#middle {
    position: relative;
    width: 70%;
    height: 100%;
    padding: 0;
    margin: auto;
    background: linear-gradient(180deg, #424242 0%, #111111 100%);
}

.profile-header {
    display: flex;
    margin-left: 90%;
    cursor: pointer;
    justify-content: space-between;
    margin-top: -2em;
}

.avatar{
    width: 35px;
    height: 35px;
    margin-bottom: 5%;
}

.profile-name{
    align-items: center;
    margin-top: 0.5em;
}

.arrow-profile{
    width: 12px;
    height: 7px;
    align-items: center;
    margin-top: 0.8em;
    margin-right: 0.2em;
}

.see-more-btn{
    color: white;
    border-radius: 27px;
    width: 12em;
    height: 2em;
    border: 2px solid white;
    background-color: black;
    align-items: center;
    margin-left: 40%;
}

.search{
    border: 2px solid white;
    color: white;
    border-radius: 27px;
    width: 12em;
    height: 2em;
    background: black;
    margin-top: 1em;
}

video {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .movie-content{
      margin-top: 16%; 
  }
  
  /* Modal Content */
  .modal-content {
   background-image: url("/movix/images/poster.png");
   background-size: cover;
    color:white;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 25px;
    width: 70%;
    height: 80%;
  }
  /* The Close Button */
  .close {
    color:black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: white !important;
    padding: 0.01em 0.2em 0.01em 0.2em;
  }
  
  .close:hover,
  .close:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
  }

.icons{
    display: flex;
}

.icon-margin{
    margin-left: 10px;
}

.modal-content .play-icon{
font-size: 5em !important;
margin-left: 45%;
margin-right: 45%;
margin-top: 5%;
cursor: pointer;
}

.modal-title{
    font-size: 35px;
    margin-left: 39%;
    margin-top: 1em;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    width: 25%;
    height: 15%;
}

 .movie-info{
   display: flex;
} 

.modal-text{
    font-size: 15px;
    margin-bottom: 5%;
    margin-top: 2%;
    margin-right: 2%;
}

.border-info{
    border: 1px solid #888 !important;
    width: 6em;
    height: 2em;
}

.myBtn{
    cursor: pointer;
}