/* PROFILE PAGE */

#profile {
    display: none;
   

}

.header-profile {
    display: flex;
    margin-left: 3em;
    margin-top: 3em;
    flex-direction: column;
    align-items: center;
}

.profile-menu {
   display: flex;
   width: 100%;
}

.profile-menu img {
    width: 15%;
    height: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
   justify-content: center;
}

.profile-info h1 {
margin: 0;
font-size: 3em;
padding-bottom:.5em;
}

.profile-info p {
    font-size: 1.2em;
}

/* PROFILE NAV */

#history,
#settings {
    display: none;
}

.profile-nav {
width: 100%;
margin-top: 3em;
margin-bottom: 1.5em;
}

.profile-nav ul {
width: 100% ;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
justify-content: center;
column-gap: 10em;
padding-left: 10%;
}

.profile-nav ul li {
    font-size: 18px;
    position: relative;

}

.profile-nav ul .line::before {
    content: "";
    background: white;
    position: absolute;
    width: 3px;
    height: 100%;
    left:-60%;
    top: 0;
    right: 0;
}


.tab.active:after{
    content: "";
    background: white;
    position: absolute;
    width: 40px;
    height: 2px;
    left:7%;
    top: 2em;
}


/* MAIN */

.container-profile {
    border-top: 2px solid #838383;
}

.history-container {
    display: grid;
   grid-template-columns: 1fr 13fr;
}

.history-info {
    padding-top: 1.6em;
}
.history-info p {
    width: 80%;
}

.history-info h3 {
    font-size: 1.5em;
    font-family: var(--main-font);
    padding-bottom: .5em;
}

.history-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    width: 15%;
    align-items: center;
    padding-top: 1.5em;
}

.history-buttons button {
    background: transparent;
    border: 1px solid white;
    padding: .5em;
    font-size: 1.1em;
    border-radius: 10px;
}

.settings-container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-container p {
    font-size: 4em;
}

/* MOBILE */

@media(max-width: 400px) {

    .header-profile {
        margin: 0;
    }

    .profile-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .profile-menu img {
        width: 25%;
    }

    .profile-info{
        text-align: center;
        margin-bottom: 2em;
    }

    .profile-info h1 {
        font-size: 1.4em;
    }

    .profile-info p{
        font-size: 1em;
    }

    .profile-nav {
        margin: 0;
      
    }

    .profile-nav ul {
     
       column-gap: 1.5em;
    }

    .profile-nav ul li {
        font-size: .8em;
        margin-bottom: 1em;
    }

    .profile-nav ul .line::before {
        width: 2px;
        height: 100%;
        left: -2em;
       
    }

    .tab.active:after {
        content: "";
        background: white;
        position: absolute;
        width: 20px;
        height: 2px;
        left: 2.4em;
        top: 1.5em;
    }

    .fav-movies h1,
    .fav-series h1 {
        font-size: 1.2em;
        margin-left: 1em;
        margin-top: 1em;
    }


}