
body {
    background: var(--main-bg-color);
}

#left-img {
position: absolute;
width: 10px !important;

}

#logo{
    width: 60%;
}

#right-login-form{
    position: absolute;
    margin: 100px 0 0 1010px;
}

input.info{
width: 260px;
height: 44px;
border-radius: 22px;
background: rgba(79, 79, 79, 0.55);
border: 2px solid  #F2A447;
margin-top: 8px;
}

h1 {
  margin: 20px 0px 15px 80px;  
}
 
::placeholder{
color: white;
padding-left:10px;
}

.rmb-me{
    margin: 10px 0 0 7px;
}

button.login{
margin-left: 16%;
width: 30%;
height: 40px;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 22px;
background: linear-gradient(270deg, #F2A447 0%, #E47650 100%);
font-size: 1em;
}

button.signup{
    margin: 2% 0 3% 10%;
    width: 43%;
    height: 40px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    background: black;
    font-size: 1em;
    }

.or{ 
font-style: normal;
font-size: 1em;
line-height: 19px;
text-align: center;
color: #FFFFFF;
margin: 5% 0 0 28%;
}

button.facebook{
    margin: 2% 0 3% 3%;
    width: 57%;
    height: 40px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    background: #4267B2;
    font-size: 1.2em;
    }

.forgot-password{
    margin: 15.5%;
    text-decoration: none;
}
