#right {
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    background: var(--main-bg-color);
    margin: auto;
}

.friends-container {
    display: grid;
    margin-top: 2em;
}

.grid-friends {
    display: grid;
   row-gap: 2em;
   margin-top: 2em;
   margin-left: 1.5em;
}

.friends-title {
    justify-self: center;
}

.friend {
   display:flex;
}


.one-friend {
    display: grid;
    align-self: center;
    row-gap: .4em;
    margin-left: .4em;
}

.watching {
    color: gray;
    font-size: 15px;
}

.friends-btn {
    border: 2px solid white;
    border-radius: 27px;
    width: 12em;
    height: 3em;
    background: linear-gradient(90deg, rgba(244, 118, 80, 1) 0%, rgba(242, 164, 71, 1) 100%);
    margin-top: 2em;
    justify-self: center;
}

.friends-btn:hover {
    border-color: rgb(255, 255, 255);
    transform: scale(1.1);
    text-decoration: none;
    cursor: pointer;
}