<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="middle">
   <header>
       <nav>
        <input type="text" placeholder="Search">
        <div>
            <img src="" alt="profile img">
            <p>Name</p>
            <img src="" alt="arrow">
        </div>
    </nav>
    </header>
   <main class="container">
        <video src=""></video>
        <div>
            <h3>Drama Movies</h3>
            <p>Popular now</p>
        </div>
   </main>
</div>
</body>
</html>