<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="middle">
        <header>
            <nav>
                <input class="search" type="text" placeholder="Search">
                <div class="profile-header">
                    <img class="avatar" src="images/avatar.png" alt="profile img">
                    <p class="profile-name">Name</p>
                    <img class="arrow-profile" src="images/arrow.png" alt="arrow">
                </div>
            </nav>
        </header>
        <main class="container">
            <video src="images/trailer.mp4" autoplay muted></video>

            <div>
                <h3>Drama Movies</h3><br>
                <p>Popular now</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <img class="myBtn" class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div>
                <p>Viewed by friends</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div>
                <p>Recently released</p>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <button class="see-more-btn">See more</button>
        </main>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span class="modal-title">The Dragon</span>
                <i class="fa fa-play-circle play-icon"></i>

                <div class="movie-content">
                    <div class="icons">

                        <div> <i class="fa fa-thumbs-up"></i></div>
                        <div class="icon-margin"> <i class="fa fa-thumbs-down"></i></div>
                        <div class="icon-margin"> <i class="fa fa-slideshare"></i></div>
                    </div>
                    <div class="movie-info">
                    <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns home to Mexico
                        and has to fight two rivals to gain power.</p>
                        <p class="border-info">Distribution</p>
                        <p class="border-info icon-margin">Genres</p>
                        <p class="border-info icon-margin">Type</p>
                    </div>
                 
                    <div class="movie-info">
                        <p class="border-info">2020</p>
                        <p class="border-info icon-margin">16+</p>
                        <p class="border-info icon-margin">1h 35min</p>
                    </div>
                </div>
            </div>

        </div>


    </div>

    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/movix/swiper.min.js"></script>
    <script src="/movix/app.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            spaceBetween: 0,
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
        });
    </script>
</body>

</html>