<!-- Modal MOVIE 1 -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-first-section">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="modal-title">
                <span>The Dragon</span>
                <a href="film.php"><i class="fa fa-play-circle play-icon"></i></a>
            </div>
        </div>

        <div class="movie-content">

            <div class="movie-info-left">
                <div class="icons-movie">
                    <div><i class="fa fa-thumbs-up icons-like-dislike"></i></div>
                    <div class="icon-margin"> <i class="fa fa-thumbs-down icons-like-dislike"></i></div>
                    <div class="icon-margin"><i class="fa fa-share friends icon-share"></i></div>
                    <p></p>
                </div>
                <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns
                    home to Mexico
                    and has to fight two rivals to gain power.</p>
                <p class="border-info-left"> 2020 </p>
                <p class="border-info-left icon-margin"> 16+ </p>
                <p class="border-info-left icon-margin"> 1h 35min </p>
            </div>

            <div class="movie-info-right">
                <div class="details">
                    <span>Distribution:</span>
                    <p>Sebastian Rulli, Renata Notni, Roberto Mateos</p>
                </div>
                <div class="details">
                    <span>Genres:</span>
                    <p>Police TV drama , Drama TV, Mexican drama</p>
                </div>
                <div class="details">
                    <span>Type:</span>
                    <p>MOVIE</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal MOVIE 2 -->
<div id="myModal2" class="modal2">

    <!-- Modal content -->
    <div class="modal-content2">

        <div class="modal-first-section">
            <button type="button" class="close2" data-dismiss="modal">&times;</button>
            <div class="modal-title">
                <span>The Ride</span>
                <a href="film.php"><i class="fa fa-play-circle play-icon2"></i></a>
            </div>
        </div>


        <div class="movie-content">
            <div class="movie-info-left">
                <div class="icons-movie">
                    <div><i class="fa fa-thumbs-up icons-like-dislike"></i></div>
                    <div class="icon-margin"> <i class="fa fa-thumbs-down icons-like-dislike"></i></div>
                    <div class="icon-margin"><i class="fa fa-share friends2 icon-share"></i></div>
                    <p></p>
                </div>
                <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns
                    home to Mexico
                    and has to fight two rivals to gain power.</p>
                <p class="border-info-left"> 2020 </p>
                <p class="border-info-left icon-margin"> 16+ </p>
                <p class="border-info-left icon-margin"> 1h 35min </p>
            </div>

            <div class="movie-info-right">
                <div class="details">
                    <span>Distribution:</span>
                    <p>Sebastian Rulli, Renata Notni, Roberto Mateos</p>
                </div>
                <div class="details">
                    <span>Genres:</span>
                    <p>Police TV drama , Drama TV, Mexican drama</p>
                </div>
                <div class="details">
                    <span>Type:</span>
                    <p>MOVIE</p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal MOVIE 3 -->
<div id="myModal3" class="modal3">

    <!-- Modal content -->
    <div class="modal-content3">

        <div class="modal-first-section">
            <button type="button" class="close3" data-dismiss="modal">&times;</button>
            <div class="modal-title">
                <span>Dead Mountain</span>
                <a href="film.php"><i class="fa fa-play-circle play-icon3"></i></a>
            </div>
        </div>


        <div class="movie-content">
            <div class="movie-info-left">
                <div class="icons-movie">
                    <div><i class="fa fa-thumbs-up icons-like-dislike"></i></div>
                    <div class="icon-margin"> <i class="fa fa-thumbs-down icons-like-dislike"></i></div>
                    <div class="icon-margin"><i class="fa fa-share friends3 icon-share"></i></div>
                    <p></p>
                </div>
                <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns
                    home to Mexico
                    and has to fight two rivals to gain power.</p>
                <p class="border-info-left"> 2020 </p>
                <p class="border-info-left icon-margin"> 16+ </p>
                <p class="border-info-left icon-margin"> 1h 35min </p>
            </div>

            <div class="movie-info-right">
                <div class="details">
                    <span>Distribution:</span>
                    <p>Sebastian Rulli, Renata Notni, Roberto Mateos</p>
                </div>
                <div class="details">
                    <span>Genres:</span>
                    <p>Police TV drama , Drama TV, Mexican drama</p>
                </div>
                <div class="details">
                    <span>Type:</span>
                    <p>MOVIE</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal MOVIE 4 -->
<div id="myModal4" class="modal4">

    <!-- Modal content -->
    <div class="modal-content4">

        <div class="modal-first-section">
            <button type="button" class="close4" data-dismiss="modal">&times;</button>
            <div class="modal-title">
                <span>Joker</span>
                <a href="film.php"><i class="fa fa-play-circle play-icon4"></i></a>
            </div>
        </div>


        <div class="movie-content">
            <div class="movie-info-left">
                <div class="icons-movie">
                    <div><i class="fa fa-thumbs-up icons-like-dislike"></i></div>
                    <div class="icon-margin"> <i class="fa fa-thumbs-down icons-like-dislike"></i></div>
                    <div class="icon-margin"><i class="fa fa-share friends4 icon-share"></i></div>
                    <p></p>
                </div>
                <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns
                    home to Mexico
                    and has to fight two rivals to gain power.</p>
                <p class="border-info-left"> 2020 </p>
                <p class="border-info-left icon-margin"> 16+ </p>
                <p class="border-info-left icon-margin"> 1h 35min </p>
            </div>

            <div class="movie-info-right">
                <div class="details">
                    <span>Distribution:</span>
                    <p>Sebastian Rulli, Renata Notni, Roberto Mateos</p>
                </div>
                <div class="details">
                    <span>Genres:</span>
                    <p>Police TV drama , Drama TV, Mexican drama</p>
                </div>
                <div class="details">
                    <span>Type:</span>
                    <p>MOVIE</p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal MOVIE 5 -->
<div id="myModal5" class="modal5">

    <!-- Modal content -->
    <div class="modal-content5">

        <div class="modal-first-section">
            <button type="button" class="close5" data-dismiss="modal">&times;</button>
            <div class="modal-title">
                <span>The whole truth</span>
                <a href="film.php"><i class="fa fa-play-circle play-icon5"></i></a>
            </div>
        </div>


        <div class="movie-content">
            <div class="movie-info-left">
                <div class="icons-movie">
                    <div><i class="fa fa-thumbs-up icons-like-dislike"></i></div>
                    <div class="icon-margin"> <i class="fa fa-thumbs-down icons-like-dislike"></i></div>
                    <div class="icon-margin"><i class="fa fa-share friends5 icon-share"></i></div>
                    <p></p>
                </div>
                <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns
                    home to Mexico
                    and has to fight two rivals to gain power.</p>
                <p class="border-info-left"> 2020 </p>
                <p class="border-info-left icon-margin"> 16+ </p>
                <p class="border-info-left icon-margin"> 1h 35min </p>
            </div>

            <div class="movie-info-right">
                <div class="details">
                    <span>Distribution:</span>
                    <p>Sebastian Rulli, Renata Notni, Roberto Mateos</p>
                </div>
                <div class="details">
                    <span>Genres:</span>
                    <p>Police TV drama , Drama TV, Mexican drama</p>
                </div>
                <div class="details">
                    <span>Type:</span>
                    <p>MOVIE</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal MOVIE 6 -->
<div id="myModal6" class="modal6">

    <!-- Modal content -->
    <div class="modal-content6">

        <div class="modal-first-section">
            <button type="button" class="close6" data-dismiss="modal">&times;</button>
            <div class="modal-title">
                <span>No country for old man</span>
                <a href="film.php"><i class="fa fa-play-circle play-icon6"></i></a>
            </div>
        </div>


        <div class="movie-content">
            <div class="movie-info-left">
                <div class="icons-movie">
                    <div><i class="fa fa-thumbs-up icons-like-dislike"></i></div>
                    <div class="icon-margin"> <i class="fa fa-thumbs-down icons-like-dislike"></i></div>
                    <div class="icon-margin"><i class="fa fa-share friends6 icon-share"></i></div>
                    <p></p>
                </div>
                <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns
                    home to Mexico
                    and has to fight two rivals to gain power.</p>
                <p class="border-info-left"> 2020 </p>
                <p class="border-info-left icon-margin"> 16+ </p>
                <p class="border-info-left icon-margin"> 1h 35min </p>
            </div>

            <div class="movie-info-right">
                <div class="details">
                    <span>Distribution:</span>
                    <p>Sebastian Rulli, Renata Notni, Roberto Mateos</p>
                </div>
                <div class="details">
                    <span>Genres:</span>
                    <p>Police TV drama , Drama TV, Mexican drama</p>
                </div>
                <div class="details">
                    <span>Type:</span>
                    <p>MOVIE</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal MOVIE 7 -->
<div id="myModal7" class="modal7">

    <!-- Modal content -->
    <div class="modal-content7">

        <div class="modal-first-section">
            <button type="button" class="close7" data-dismiss="modal">&times;</button>
            <div class="modal-title">
                <span>ManK</span>
                <a href="film.php"><i class="fa fa-play-circle play-icon7"></i></a>
            </div>
        </div>


        <div class="movie-content">
            <div class="movie-info-left">
                <div class="icons-movie">
                    <div><i class="fa fa-thumbs-up icons-like-dislike"></i></div>
                    <div class="icon-margin"> <i class="fa fa-thumbs-down icons-like-dislike"></i></div>
                    <div class="icon-margin"><i class="fa fa-share friends7 icon-share"></i></div>
                    <p></p>
                </div>
                <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns
                    home to Mexico
                    and has to fight two rivals to gain power.</p>
                <p class="border-info-left"> 2020 </p>
                <p class="border-info-left icon-margin"> 16+ </p>
                <p class="border-info-left icon-margin"> 1h 35min </p>
            </div>

            <div class="movie-info-right">
                <div class="details">
                    <span>Distribution:</span>
                    <p>Sebastian Rulli, Renata Notni, Roberto Mateos</p>
                </div>
                <div class="details">
                    <span>Genres:</span>
                    <p>Police TV drama , Drama TV, Mexican drama</p>
                </div>
                <div class="details">
                    <span>Type:</span>
                    <p>MOVIE</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal MOVIE 8 -->
<div id="myModal8" class="modal8">

    <!-- Modal content -->
    <div class="modal-content8">

        <div class="modal-first-section">
            <button type="button" class="close8" data-dismiss="modal">&times;</button>
            <div class="modal-title">
                <span>Scorpio</span>
                <a href="film.php"><i class="fa fa-play-circle play-icon8"></i></a>
            </div>
        </div>


        <div class="movie-content">
            <div class="movie-info-left">
                <div class="icons-movie">
                    <div><i class="fa fa-thumbs-up icons-like-dislike"></i></div>
                    <div class="icon-margin"> <i class="fa fa-thumbs-down icons-like-dislike"></i></div>
                    <div class="icon-margin"><i class="fa fa-share friends8 icon-share"></i></div>
                    <p></p>
                </div>
                <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns
                    home to Mexico
                    and has to fight two rivals to gain power.</p>
                <p class="border-info-left"> 2020 </p>
                <p class="border-info-left icon-margin"> 16+ </p>
                <p class="border-info-left icon-margin"> 1h 35min </p>
            </div>

            <div class="movie-info-right">
                <div class="details">
                    <span>Distribution:</span>
                    <p>Sebastian Rulli, Renata Notni, Roberto Mateos</p>
                </div>
                <div class="details">
                    <span>Genres:</span>
                    <p>Police TV drama , Drama TV, Mexican drama</p>
                </div>
                <div class="details">
                    <span>Type:</span>
                    <p>MOVIE</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal MOVIE 9 -->
<div id="myModal9" class="modal9">

    <!-- Modal content -->
    <div class="modal-content9">

        <div class="modal-first-section">
            <button type="button" class="close9" data-dismiss="modal">&times;</button>
            <div class="modal-title">
                <span>The queen's gambit</span>
                <a href="film.php"><i class="fa fa-play-circle play-icon9"></i></a>
            </div>
        </div>


        <div class="movie-content">
            <div class="movie-info-left">
                <div class="icons-movie">
                    <div><i class="fa fa-thumbs-up icons-like-dislike"></i></div>
                    <div class="icon-margin"> <i class="fa fa-thumbs-down icons-like-dislike"></i></div>
                    <div class="icon-margin"><i class="fa fa-share friends9 icon-share"></i></div>
                    <p></p>
                </div>
                <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns
                    home to Mexico
                    and has to fight two rivals to gain power.</p>
                <p class="border-info-left"> 2020 </p>
                <p class="border-info-left icon-margin"> 16+ </p>
                <p class="border-info-left icon-margin"> 1h 35min </p>
            </div>

            <div class="movie-info-right">
                <div class="details">
                    <span>Distribution:</span>
                    <p>Sebastian Rulli, Renata Notni, Roberto Mateos</p>
                </div>
                <div class="details">
                    <span>Genres:</span>
                    <p>Police TV drama , Drama TV, Mexican drama</p>
                </div>
                <div class="details">
                    <span>Type:</span>
                    <p>MOVIE</p>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Modal FRIENDS -->
<div id="myModalFriends" class="modal-friends">

    <!-- Modal content -->
    <div class="modal-content-friends">
        <div class="first-section-friends">
            <button type="button" class="close-friends" data-dismiss="modal">&times;</button>
            <div class="friends-title">
                <span class="friends-title-modal">Invite friends</span>
                <div class="input-icons">
                    <i class="fa fa-search icon">
                    </i>
                    <input class="search-friends input-field" type="text" placeholder="Search by name...">
                </div>
            </div>
        </div>

        <div class="friends-content">

            <div class="friend-modal">
                <img src="images/avatar4.png" class="avatar-modal" alt="poza">
                <div class="one-friend-modal">
                    <h4 class="friend-name-modal">Rosalia John</h4>
                    <p class="watching-friend-modal">Wathing: Frozen</p>
                </div>

                <button class="invite-friend">Invite</button>
            </div>


            <div class="friend-modal">
                <img src="images/avatar1.png" class="avatar-modal" alt="poza">
                <div class="one-friend-modal">
                    <h4 class="friend-name-modal">Lonny Colne</h4>
                    <p class="watching-friend-modal">Wathing: Frozen</p>
                </div>

                <button class="invite-friend">Invite</button>

            </div>

            <div class="friend-modal">
                <img src="images/avatar3.png" class="avatar-modal" alt="poza">
                <div class="one-friend-modal">
                    <h4 class="friend-name-modal">Graciela Yost</h4>
                    <p class="watching-friend-modal">Wathing: Frozen</p>
                </div>

                <button class="invite-friend">Invite</button>
            </div>


            <div class="friend-modal">
                <img src="images/avatar2.png" class="avatar-modal" alt="poza">
                <div class="one-friend-modal">
                    <h4 class="friend-name-modal">Kyla Smith</h4>
                    <p class="watching-friend-modal">Wathing: Frozen</p>
                </div>

                <button class="invite-friend">Invite</button>
            </div>

            <div class="friend-modal">
                <img src="images/avatar3.png" class="avatar-modal" alt="poza">
                <div class="one-friend-modal">
                    <h4 class="friend-name-modal">Graciela Yost</h4>
                    <p class="watching-friend-modal">Wathing: Frozen</p>
                </div>

                <button class="invite-friend">Invite</button>
            </div>
            <button class="start-btn"><i class="fa fa-play"></i>&nbsp; Start</button>
        </div>
    </div>

</div>