<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">

        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <span class="modal-title">The Dragon</span>
        <i class="fa fa-play-circle play-icon"></i>

        <div class="movie-content">
            <div class="icons">

                <div> <i class="fa fa-thumbs-up"></i></div>
                <div class="icon-margin"> <i class="fa fa-thumbs-down"></i></div>
                <div class="icon-margin"> <i class="fa fa-slideshare"></i></div>
            </div>
            <div class="movie-info">
            <p class="modal-text">To replace his grandfather at the helm of a cartel, a financier from Tokyo returns home to Mexico
                and has to fight two rivals to gain power.</p>
                <p class="border-info">Distribution</p>
                <p class="border-info icon-margin">Genres</p>
                <p class="border-info icon-margin">Type</p>
            </div>
         
            <div class="movie-info">
                <p class="border-info">2020</p>
                <p class="border-info icon-margin">16+</p>
                <p class="border-info icon-margin">1h 35min</p>
            </div>
        </div>
    </div>

</div>