
<div class="profile">
    <section class="header-profile">
        <div class="profile-menu">
            <img class="profile-avatar" src="images/profile.png" alt="profile img">
            <div class="profile-info">
                <h1>Edgar Swift</h1>
                <p><strong>Movies:</strong> 35 <strong>Series:</strong> 12</p>
            </div>
        </div>
        <nav class="profile-nav">
            <ul class="tabs">
                <li><a href="/profile/overview"  data-tab-target="#overview" class="active tab" onclick="showPageProfile('overview'); return false;">OVERVIEW</a></li>
                <li><a class="line tab" href="/profile/history" data-tab-target="#history" onclick="showPageProfile('history'); return false;">HISTORY</a></li>
                <li><a class="line tab" href="/profile/settings" data-tab-target="#settings" onclick="showPageProfile('settings'); return false;">SETTINGS</a></li>
            </ul>
        </nav>
   
    </section>
    <main class="container-profile">
        <div id="overview" class="subpage-profile" data-tab-content>
           <div class="overview">
               <div class="fav-movies">
                <h1>Favorite movies</h1>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <img class="myBtn" class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                        <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                        <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                    </div>

                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                </div>
                <div class="fav-series">
                    <h1>Favorite series</h1>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <img class="myBtn" class="swiper-slide" src="images/movie1.png" alt="movie1">
                            <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                            <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                            <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                            <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                            <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                            <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                            <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                            <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        </div>
    
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
           </div>
        </div>
        <div id="history" class="subpage-profile" data-tab-content>
           <section class="history-container">
                <img src="images/movie2.png" alt="">
                <div class="history-info">
                    <h3>Title</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum <br> It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                       <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><img src="images/share-movie.svg" alt=""></a>
                    </div>
                </div>
           </section>
           <section class="history-container">
                <img src="images/movie2.png" alt="">
                <div class="history-info">
                    <h3>Title</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum <br> It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                       <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><img src="images/share-movie.svg" alt=""></a>
                    </div>
                </div>
           </section>
           <section class="history-container">
                <img src="images/movie2.png" alt="">
                <div class="history-info">
                    <h3>Title</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum <br> It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                       <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><img src="images/share-movie.svg" alt=""></a>
                    </div>
                </div>
           </section>
           <section class="history-container">
                <img src="images/movie2.png" alt="">
                <div class="history-info">
                    <h3>Title</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum <br> It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                       <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><img src="images/share-movie.svg" alt=""></a>
                    </div>
                </div>
           </section>
           <section class="history-container">
                <img src="images/movie2.png" alt="">
                <div class="history-info">
                    <h3>Title</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum <br> It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                       <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><img src="images/share-movie.svg" alt=""></a>
                    </div>
                </div>
           </section>
           <section class="history-container">
                <img src="images/movie2.png" alt="">
                <div class="history-info">
                    <h3>Title</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum <br> It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                       <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><img src="images/share-movie.svg" alt=""></a>
                    </div>
                </div>
           </section>
           <section class="history-container">
                <img src="images/movie2.png" alt="">
                <div class="history-info">
                    <h3>Title</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum <br> It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                        <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><img src="images/share-movie.svg" alt=""></a>
                    </div>
                </div>
           </section>
           <section class="history-container">
                <img src="images/movie2.png" alt="">
                <div class="history-info">
                    <h3>Title</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum <br> It is a long established fact that a reader will be distracted by the readable<br> content of a page when looking at its layout. The point of using Lorem Ipsum</p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                        <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><img src="images/share-movie.svg" alt=""></a>
                    </div>
                </div>
           </section>
        </div>
        <div id="settings" class="subpage-profile" data-tab-content>
            SETTINGS
        </div>
    </main>
</div>
<script>

const tabs = document.querySelectorAll('[data-tab-target]');
const tabContents = document.querySelectorAll('[data-tab-content]')

tabs.forEach(tab=> {
    tab.addEventListener('click', ()=> {
        const target = document.querySelector(tab.dataset.tabTarget)
        tabContents.forEach(tabContent=>{
            tabContent.classList.remove('active')
        })
        tabs.forEach(tab=>{
            tab.classList.remove('active')
        })
        tab.classList.add('active')
        target.classList.add('active')
    })
})





// var profileNavUl = document.querySelector(".provile-nav-ul");
// var profileNavLi = document.querySelectorAll(".profile-nav-li");
// for (var i = 0; i < profileNavLi.length; i++) {
    


//   profileNavLi[i].addEventListener("click", function() {
//   var current = document.getElementsByClassName("active");
//   console.log(profileNavLi[i])
//   current[0].className = current[0].className.replace(" active", "");
//   this.className += " active";
//   });
// }

</script>