<div class="profile">
    <section class="header-profile">
        <div class="profile-menu">
            <img class="profile-avatar" src="images/profile.png" alt="profile img">
            <div class="profile-info">
                <h1>Edgar Swift</h1>
                <p><strong>Movies:</strong> 35 <strong>Series:</strong> 12</p>
            </div>
        </div>
        <nav class="profile-nav">
            <ul class="tabs">
                <li><a href="/profile/overview" data-tab-target="#overview" class="active tab"
                        onclick="showPageProfile('overview'); return false;">OVERVIEW</a></li>
                <li><a class="line tab" href="/profile/history" data-tab-target="#history"
                        onclick="showPageProfile('history'); return false;">HISTORY</a></li>
                <li><a class="line tab" href="/profile/settings" data-tab-target="#settings"
                        onclick="showPageProfile('settings'); return false;">SETTINGS</a></li>
            </ul>
        </nav>

    </section>
    <main class="container-profile">
        <div id="overview" class="subpage-profile" data-tab-content>
            <div class="overview">
                <div class="fav-movies">
                    <h1 class="genre-title">Favorite movies</h1>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <img class="swiper-slide myBtn" src="images/movie1.png" alt="movie1">
                            <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                            <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                            <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                            <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                            <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                            <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                            <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                            <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        </div>

                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
                <div class="fav-series">
                    <h1 class="genre-title">Favorite series</h1>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <img class="swiper-slide myBtn" src="images/movie1.png" alt="movie1">
                            <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                            <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                            <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                            <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                            <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                            <img class="swiper-slide" src="images/movie1.png" alt="movie1">
                            <img class="swiper-slide" src="images/movie2.png" alt="movie2">
                            <img class="swiper-slide" src="images/movie3.png" alt="movie3">
                        </div>

                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="history" class="subpage-profile" data-tab-content>
            <section class="history-container">
                <img src="images/movie1.png" alt="">
                <div class="history-info">
                    <h3>Unhinged</h3>
                    <p>After a confrontation with an unstable man at an intersection, a woman becomes the target of his
                        rage.
                    </p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                        <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><i class="fa fa-share friends3 icon-share"></i></a>
                    </div>
                </div>
            </section>
            <section class="history-container">
                <img src="images/movie2.png" alt="">
                <div class="history-info">
                    <h3>Run</h3>
                    <p>A homeschooled teenager begins to suspect her mother is keeping a dark secret from her.
                    </p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                        <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><i class="fa fa-share friends3 icon-share"></i></a>
                    </div>
                </div>
            </section>
            <section class="history-container">
                <img src="images/movie3.png" alt="">
                <div class="history-info">
                    <h3>Dead Mountain</h3>
                    <p>January 1959, Soviet Union. In the icy Ural Mountains, a group of nine students sets out on a ski
                        trek. Even though they all are well-experienced hikers, they never reach their destination.</p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                        <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><i class="fa fa-share friends3 icon-share"></i></a>
                    </div>
                </div>
            </section>
            <section class="history-container">
                <img src="images/movie9.png" alt="">
                <div class="history-info">
                    <h3>The Queen's Gambit</h3>
                    <p>Orphaned at the tender age of nine, prodigious introvert Beth Harmon discovers and masters the
                        game of chess in 1960s USA. But child stardom comes at a price.
                    </p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                        <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><i class="fa fa-share friends3 icon-share"></i></a>
                    </div>
                </div>
            </section>
            <section class="history-container">
                <img src="images/movie7.png" alt="">
                <div class="history-info">
                    <h3>Mank</h3>
                    <p>1930's Hollywood is reevaluated through the eyes of scathing social critic and alcoholic
                        screenwriter Herman J. Mankiewicz as he races to finish the screenplay of Citizen Kane</p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                        <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><i class="fa fa-share friends3 icon-share"></i></a>
                    </div>
                </div>
            </section>
            <section class="history-container">
                <img src="images/movie8.png" alt="">
                <div class="history-info">
                    <h3>Lucifer</h3>
                    <p>Lucifer Morningstar has decided he's had enough of being the dutiful servant in Hell and decides
                        to spend some time on Earth to better understand humanity. He settles in Los Angeles - the City
                        of Angels.
                    </p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                        <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><i class="fa fa-share friends3 icon-share"></i></a>
                    </div>
                </div>
            </section>
            <section class="history-container">
                <img src="images/movie4.png" alt="">
                <div class="history-info">
                    <h3>Joker</h3>
                    <p>In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society.
                        He then embarks on a downward spiral of revolution and bloody crime. This path brings him
                        face-to-face with his alter-ego: the Joker.
                    </p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                        <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><i class="fa fa-share friends3 icon-share"></i></a>
                    </div>
                </div>
            </section>
            <section class="history-container">
                <img src="images/movie6.png" alt="">
                <div class="history-info">
                    <h3>Last Christmas</h3>
                    <p>Kate is a young woman subscribed to bad decisions. Working as an elf in a year round Christmas
                        store is not good for the wannabe singer. However, she meets Tom there. Her life takes a new
                        turn. For Kate, it seems too good to be true.
                    </p>
                    <div class="history-buttons">
                        <button>Rewatch</button>
                        <a href="#"><img src="images/like.svg" alt=""></a>
                        <a href="#"><img src="images/dislike.svg" alt=""></a>
                        <a href="#"><i class="fa fa-share friends3 icon-share"></i></a>
                    </div>
                </div>
            </section>
        </div>
        <div id="settings" class="subpage-profile" data-tab-content>
            <section class="settings-container">
               <p>COMING SOON</p> 

            </section>
        </div>
    </main>
</div>
<script>
    const tabs = document.querySelectorAll('[data-tab-target]');
    const tabContents = document.querySelectorAll('[data-tab-content]')

    tabs.forEach(tab => {
        tab.addEventListener('click', () => {
            const target = document.querySelector(tab.dataset.tabTarget)
            tabContents.forEach(tabContent => {
                tabContent.classList.remove('active')
            })
            tabs.forEach(tab => {
                tab.classList.remove('active')
            })
            tab.classList.add('active')
            target.classList.add('active')
        })
    })





    // var profileNavUl = document.querySelector(".provile-nav-ul");
    // var profileNavLi = document.querySelectorAll(".profile-nav-li");
    // for (var i = 0; i < profileNavLi.length; i++) {



    //   profileNavLi[i].addEventListener("click", function() {
    //   var current = document.getElementsByClassName("active");
    //   console.log(profileNavLi[i])
    //   current[0].className = current[0].className.replace(" active", "");
    //   this.className += " active";
    //   });
    // }
</script>