
    <div id="left">
        <a href="/" onclick="showPage('home'); return false;">
            <img class="logo" src="images/logo.png" alt="logo">
        </a>
        <div class="categories">
            <div class="category">
                <div class="categ-title-arrow">
                    <h3>Movies</h3>
                    <img src="images/arrow-categ.png" alt="arrow">
                </div>
                <ul class="titles">
                    <li>Drama</li>
                    <li>Action</li>
                    <li>Comedy</li>
                    <li>Thriller</li>
                    <li>Horror</li>
                    <li>Science Fiction</li>
                    <li>Classics</li>
                </ul>
            </div>
            <div class="category">
                <div class="categ-title-arrow">
                    <h3>Series</h3>
                    <img src="images/arrow-categ.png" alt="arrow">
                </div>
                <ul class="titles">
                    <li>Drama</li>
                    <li>Action</li>
                    <li>Comedy</li>
                    <li>Thriller</li>
                    <li>Horror</li>
                    <li>Science Fiction</li>
                    <li>Classics</li>
                </ul>
            </div>
            <div class="category">
                <div class="categ-title-arrow">
                    <h3>Documentaries</h3>
                    <img src="images/arrow-categ.png" alt="arrow">
                </div>
                <ul  class="titles">
                    <li>Drama</li>
                    <li>Action</li>
                    <li>Comedy</li>
                    <li>Thriller</li>
                    <li>Horror</li>
                    <li>Science Fiction</li>
                    <li>Classics</li>
                </ul>
            </div>
        </div>
        <div class="random-section">
            <h2>Don't know what to watch?</h2>
            <button onclick="newMovie(); return false" class="random-btn"><i class="fa fa-random random-icon animation-btn"></i></button>
        </div>
    </div>
