<div class="chat-container">
    <div class="chat-top">
        <h4>CHAT</h4>
        <div class="closeBtn-container">
        <button class="closeBtn" onclick="closeChat(); return false">X</button>    
    </div>
</div>
    <div class="messages">
        <div class="friend1">
            <img src="./images/avatar1.png" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sequi ne!</p>
        </div>
    </div>
    <div class="input-chat">
        <input type="text" placeholder="Write your message">
        
    </div>
</div>