<div class="chat-container">
    <div class="chat-top">
        <h4>CHAT</h4>
        <div class="closeBtn-container">
            <button class="closeBtn" onclick="closeChat(); return false">X</button>
        </div>
    </div>
    <div class="messages">
        <div class="friend1">
            <img src="./images/avatar1.png" alt="">
            <p>Hello guys!<br>
                01:12:29
            </p>
        </div>
        <div class="friend1">
            <img src="./images/avatar2.png" alt="">
            <p>Are you ready to start?<br>
                01:12:29
            </p>
        </div>
        <div class="friend1">
            <img src="./images/avatar3.png" alt="">
            <p>Hey. YES<br>
                01:12:29
            </p>
        </div>
        <div class="friend1">
            <img src="./images/avatar2.png" alt="">
            <p>I love this movie<br>
                01:12:29
            </p>
        </div>
        <div class="friend1">
            <img src="./images/avatar1.png" alt="">
            <p>Wow so cool!<br>
                01:12:29
            </p>
        </div>
        <div class="friend1">
            <img src="./images/avatar4.png" alt="">
            <p>I love her <br>
                01:54:03
            </p>
        </div>
        <div class="myself">
            <p>Have you seen that??</p>
            <img src="./images/avatar.png" alt="">
        </div>
    </div>
    <div class="input-chat">
        <input type="text" placeholder="Write your message">

    </div>
</div>