<div id="register-bg">
    <div id="login-form">
        <div class="content">
            <img src="images/logo.png" alt="logo" id="logo">
            <h1>Log in</h1>
            <form>
                <input class="info" type="text" placeholder="Email">
                <input class="info" type="text" placeholder="Password">
                <div class="rmb-me">
                    <input type="checkbox">
                    <span>Remember me</span>
                </div><br>
                <button class="login">Log in</button>
                <button type="button" id="myBtnRegister" class="signup">Sign Up</button>
                <span class="or">OR</span>
                <button class="facebook">Continue with Facebook</button>
            </form>
        </div>
        <a href="#" class="forgot-password">Forgot your password?</a>
    </div>

</div>


<div id="myModalRegister" class="modal-register">

    <!-- Modal content -->
    <div class="modal-content-register">
        <button type="button" class="closeRegister" data-dismiss="modal">&times;</button>

        <h1 class="signup-title">Sign up</h1>
        <div class="content-register">
            <form>
                <input class="modal-info" type="text" placeholder="Name"><br>
                <input class="modal-info" type="text" placeholder="Email"><br>
                <input class="modal-info" type="password" placeholder="Password"><br>
                <div class="modal-rmb-me">
                    <input type="checkbox">
                    <span>Remember me</span>
                </div><br>
                <button type="button" onclick="dashboard(); return false" class="signup">Sign Up</button><br>
                <span class="or">OR</span><br>
                <button class="facebook">Continue with Facebook</button><br>
                <a href="#" class="forgot-password">Forgot your password?</a>
            </form>


        </div>
    </div>

</div>