<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="left-img">
        <img src="" alt="">
    </div>
    <div id="right-login-form">
        <img src="" alt="logo">
        <p>Log in</p>
        <form>
            <input type="text"><br>
            <input type="text"><br>
            <input type="checkbox">
            <span>Remember me</span><br>
            <button>Log in</button><br>
            <button>Signup</button><br>
            <span>or</span><br>
            <button>connect with facebook</button><br>
            <a href="#">Forgot your password?</a>
        </form>
    </div>
</body>
</html>