<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <title>Document</title>
</head>
<body>
    <div id="left-img">
        <img src="images/firstPage.png" alt="">
    </div>
    <div id="right-login-form">
        <img src="images/logo.png" alt="logo" id="logo">
        <h1>Log in</h1>
        <form>
            <input class="info" type="text" placeholder="Email"><br>
            <input class="info" type="text" placeholder="Password"><br>
            <input type="checkbox">
            <span>Remember me</span><br>
            <button>Log in</button><br>
            <button>Signup</button><br>
            <span>or</span><br>
            <button>connect with facebook</button><br>
            <a href="#">Forgot your password?</a>
        </form>
    </div>
</body>
</html>