<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="right">
        <h2>Frinds</h2>
        <div class="friends">
            <div class="friend">
                <img src="images/avatar.png" alt="poza">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
            <div class="friend">
                <img src="images/avatar.png" alt="">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
            <div class="friend">
                <img src="images/avatar.png" alt="">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
            <div class="friend">
                <img src="images/avatar.png" alt="">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
            <div class="friend">
                <img src="images/avatar.png" alt="">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
            <div class="friend">
                <img src="images/avatar.png" alt="">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
            <div class="friend">
                <img src="images/avatar.png" alt="">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
            <div class="friend">
                <img src="images/avatar.png" alt="">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
            <div class="friend">
                <img src="images/avatar.png" alt="">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
            <div class="friend">
                <img src="images/avatar.png" alt="">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
            <div class="friend">
                <img src="images/avatar.png" alt="">
                <div>
                    <p>Nume</p>
                    <p>Wathing</p>
                </div>
            </div>
        </div>
        <button class="random-btn">Find friends</button>
    </div>
</body>
</html>