
    <div id="right">
        <div class="friends-container">
            <h2 class="friends-title">Friends</h2>
            <div class="grid-friends">
                <div class="friend">
                    <img src="images/avatar4.png" alt="poza">
                    <div class="one-friend">
                        <h4 class="friend-name">Rosalia Johnson</h4>
                        <p class="watching">Wathing: Frozen</p>
                    </div>
                </div>


                <div class="friend">
                    <img src="images/avatar1.png" alt="poza">
                    <div class="one-friend">
                        <h4 class="friend-name">Lonny Cole</h4>
                        <p class="watching">Wathing: Frozen</p>
                    </div>
                </div>

                <div class="friend">
                    <img src="images/avatar2.png" alt="poza">
                    <div class="one-friend">
                        <h4 class="friend-name">Kyla Smith</h4>
                        <p class="watching">Wathing: Frozen</p>
                    </div>
                </div>

                <div class="friend">
                    <img src="images/avatar3.png" alt="poza">
                    <div class="one-friend">
                        <h4 class="friend-name">Graciela Yost</h4>
                        <p class="watching">Wathing: Frozen</p>
                    </div>
                </div>

                <div class="friend">
                    <img src="images/avatar1.png" alt="poza">
                    <div class="one-friend">
                        <h4 class="friend-name">Rosalia Johnson</h4>
                        <p class="watching">Wathing: Frozen</p>
                    </div>
                </div>

                <div class="friend">
                    <img src="images/avatar4.png" alt="poza">
                    <div class="one-friend">
                        <h4 class="friend-name">Graciela Yost</h4>
                        <p class="watching">Wathing: Frozen</p>
                    </div>
                </div>

                <div class="friend">
                    <img src="images/avatar3.png" alt="poza">
                    <div class="one-friend">
                        <h4 class="friend-name">Rosalia Johnson</h4>
                        <p class="watching">Wathing: Frozen</p>
                    </div>
                </div>

                <div class="friend">
                    <img src="images/avatar1.png" alt="poza">
                    <div class="one-friend">
                        <h4 class="friend-name">Graciela Yost</h4>
                        <p class="watching">Wathing: Frozen</p>
                    </div>
                </div>


            </div>
            <button class="friends-btn friendsRight">Find friends</button>
        </div>
    </div>
