
    <div id="right">
        <h2 class="friends-title">Friends</h2>
        <div>
            <div class="friend">
                <div class="one-friend">
                    <img src="images/avatar4.png" alt="poza">
                    <h4 class="friend-name">Rosalia Johnson</h4>
                </div>
                <p class="watching">Wathing: Frozen</p>
            </div>


            <div class="friend">
                <div class="one-friend">
                    <img src="images/avatar1.png" alt="poza">
                    <h4 class="friend-name">Lonny Cole</h4>
                </div>
                <p class="watching">Wathing: Frozen</p>
            </div>

            <div class="friend">
                <div class="one-friend">
                    <img src="images/avatar2.png" alt="poza">
                    <h4 class="friend-name">Kyla Smith</h4>
                </div>
                <p class="watching">Wathing: Frozen</p>
            </div>

            <div class="friend">
                <div class="one-friend">
                    <img src="images/avatar3.png" alt="poza">
                    <h4 class="friend-name">Graciela Yost</h4>
                </div>
                <p class="watching">Wathing: Frozen</p>
            </div>

            <div class="friend">
                <div class="one-friend">
                    <img src="images/avatar1.png" alt="poza">
                    <h4 class="friend-name">Rosalia Johnson</h4>
                </div>
                <p class="watching">Wathing: Frozen</p>
            </div>

            <div class="friend">
                <div class="one-friend">
                    <img src="images/avatar4.png" alt="poza">
                    <h4 class="friend-name">Graciela Yost</h4>
                </div>
                <p class="watching">Wathing: Frozen</p>
            </div>

            <div class="friend">
                <div class="one-friend">
                    <img src="images/avatar3.png" alt="poza">
                    <h4 class="friend-name">Rosalia Johnson</h4>
                </div>
                <p class="watching">Wathing: Frozen</p>
            </div>

            <div class="friend">
                <div class="one-friend">
                    <img src="images/avatar1.png" alt="poza">
                    <h4 class="friend-name">Graciela Yost</h4>
                </div>
                <p class="watching">Wathing: Frozen</p>
            </div>


        </div>
        <button class="friends-btn">Find friends</button>
    </div>
